/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}


@media (max-width: 700px) {
  .navigation {
    display: none;
  }
}

body {
  font-family: 'Source Sans Pro', serif;
  padding-top: 66px;
}

section {
  overflow: hidden;
}

a {
  text-decoration: none;
  outline: none;
}

h2,
h3 {
  font-weight: 300;
}

a:visited {
  color: inherit;
}

.reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.top-header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  height: 66px;
  line-height: 66px;
  text-align: right;
  z-index: 1;
}

.comigo-logo {
  position: absolute;
  top: 0;
  left: 20px;
}

.comigo-logo img {
  vertical-align: middle;
}

.navigation a {
  color: rgb(61,61,61);
  display: inline-block;
  /*width: 100px;*/
  /*height: 100px;*/
  padding: 0 10px;
  text-align: right;
  font-size: 1.12rem;
}

.navigation {
  display: inline-block;
  padding: 0 20px;
}

.navigation > ul > li {
  display: inline-block;
}

.navigation > ul > li > a:hover,
.navigation > ul > li > a:focus {
  color: red;
}

.navigation ul ul {
  display: none;
}

.navigation ul ul a:hover,
.navigation ul ul a:focus {
  color: white;
  background: red;
}

.footer-gray {
  background: #1E2024;
}


.footer-nav > li > a{
  color: white;
}

.footer-nav ul a{
  font-size: 1.12rem;
  color: rgb(122,122,122);
}

.footer-nav ul a:hover,
.footer-nav ul a:focus{
  color: red;
}

.footer-bottom {
  width: 100vw;
  vertical-align: middle;
  line-height: 4rem;
  font-size: 1.015rem;
  background: #151515;
  color: rgb(99,99,99);
}

.footer-bottom span:first-child {
  margin: 0 10%;
}

.footer-bottom ul,
.footer-bottom li {
  display: inline-block;
}

.pipe-separated li::before {
  content: " | ";
}

.footer-bottom a:hover, .footer-bottom a:focus {
  color: white;
}

.footer-social-links a {
  padding: 0.6rem;
  border: 0.01rem solid rgb(99,99,99);
  border-radius: 2rem;
}

.main-section {
  height: 42.5vw;
  background-image: url("../assets/main-bg/home-brain-image-new-1920x816.png"), url("../assets/main-bg/home-featured-bg.png");
  background-size: contain, cover;
  background-repeat: no-repeat;
  padding-top: 200px;
}

.main-section div {
  width:80%;
  height: 30vw;
  display: inline-block;
}

.main-section h2 {
  font-size: 6.3rem;
  font-weight: 400;
}

.why-comigo {
  height: 30vw;
  width: 100%;
}

.why-comigo div {
  width: 70%;
  margin: 0 auto;
  font-size: 2rem;
}

.why-comigo h2 {
  line-height: 6.3rem;
  font-size: 6.3rem;
}

.round-btn {
  text-transform: uppercase;
  letter-spacing: 0.09375rem;
  padding: 15px 25px;
  border-radius: 30px;
  transition: all 150ms ease-in-out;
  display: inline-block;
  font-size: 1.12rem;
  font-weight: 300;
}

.round-btn:hover, .round-btn:focus {
  box-shadow: 0 12px 32px rgba(0,0,0,.15);
  transform: translateY(-3px);
}

.red-btn {
  background: #FF313E;
  color: white;
}

.white-btn {
  background: white;
  color: red;
}

.white {
  color: white;
}

.navigation .selected,
.navigation .selected:hover {
  font-weight: bold;
  color: red;
}

.uppercase {
  text-transform: uppercase;
}

.center-text {
  text-align: center;
}

.services {
  position: relative;
  height: 40.0694444vw;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.services > div {
  display: inline-block;
  width: 35vw;
  padding: 3vw 5vw;
}

.services > div > h2 {
  font-size: 3.15rem;
  margin: 0 auto;
}

.services > div > span {
  font-size: 1.125rem;
}

.services ul {
  display: inline-block;
}

.services figure {
  display: none;
  position: absolute;
  height: 60%;
  top: 10%;
  left: 50%;
}

.services video {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.services li:last-child figure,
.services li:last-child video {
  display: block;
}

.services li:hover figure,
.services li:hover video {
  display: block;
}

.services li:hover ~ li figure,
.services li:hover ~ li video {
  display: none;
}

.services h3 {
  color: #606060;
  font-size: 1.75rem;
}

.services h3:hover {
  color: red;
}

.services :not(h3) {
font-weight: 300;
}

.services figcaption {
  color: #ededed;
}

.tv-service {
  height: 40vw;
}

.tv-service section {
  width: 50%;
  height: 100%;
}

.enhance-tv {
  background-image: url("../assets/other/ic-EI-cloud-brain-hp.png"), url("../assets/other/home-tv-service-bg1.png");
  background-repeat: no-repeat;
  background-position: center 10%, center;
  background-size: 40%, auto;
  float: left;
  /*padding-top: 50%;*/
}

.enhance-tv div {
  margin-top: 40%;
}

.comigo-stb div {
  margin-top: 50%;
  margin-left: 10%;
}

.comigo-stb {
  background-image: url("../assets/other/ic-stb-screens.png"), url("../assets/other/home-tv-service-bg2.png");
  background-repeat: no-repeat;
  background-position: center 10%, center;
  background-size: 40%, auto;
  float: right;
}

.enhance-tv h2,
.comigo-stb h2 {
  font-size: 3.5rem;
}

.enhance-tv h3,
.comigo-stb h3 {
  font-size: 1.4rem;
}

.red-background {
  background-color: #FF313E;
}

.social-media {
  width: 20.13888vw;
  height: 20.13888vw;
  padding: 3vw;
  background-color: #EFEFEF;
}

.social-media a {
  color: white;
  background: #F14848;
  font-size: 3rem;
  padding: 1rem;
  border-radius: 3rem;
}

.schedule-meeting {
  width: 800px;
  height:400px;
  background-color: #E8E8E8;
}

.blog {
  color: white;
}

.blog-heading {
  background-color: #E0554F;
}

.blog-heading,
.blog li {
  height: 36.111vw;
  width: 16.6666667vw;
  display: inline-block;
  vertical-align: top;
  background-repeat: no-repeat;
}

.blog-posts {
  display: inline-block;
}

.blog-posts a {
  display: inline-block;
  position: relative;
  font-size: 1rem;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.blog-posts a p {
  position: absolute;
  margin: 0.5rem;
  bottom: 0px;
  left: 0px;
}

.blog-posts a span {
  display: inline-block;
  background-color: #E0554F;
  width: 100%;
  padding: 10% 0;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 100%;
}

.blog-posts li {
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}

.blog-posts li:nth-child(1) {
  background-image: url("../assets/blog/ibc_post_EI-750x508.png");
  background-position: center top;
  background-size: auto 100%;
}

.blog-posts li:nth-child(2) {
  background-image: url("../assets/blog/IMG_9294-750x563.jpeg");
  background-position: center top;
  background-size: auto 100%;
}

.blog-posts li:nth-child(3) {
  background-image: url("../assets/blog/Image-Blog-Yoav_356121362-copy-750x563.jpg");
  background-position: center top;
  background-size: auto 100%;
}

.blog-posts li:nth-child(4) {
  background-image: url("../assets/blog/post_tv_connect-750x508.jpeg");
  background-position: center top;
  background-size: auto 100%;
}

.blog-posts li:nth-child(5) {
  background-image: url("../assets/blog/post_quality-750x508.jpeg");
  background-position: center top;
  background-size: auto 100%;
}


.blog-posts li:hover {
  background-color: transparent;
}

.blog-posts li:hover a span {
  bottom: 100%;
}

.learn-more {
  height: 40vw;
  width: 40vw;
}

.learn-more-heading {
  background-color: #F9F9F9;
  font-size: 5.25rem;
}

.learn-more-link {
  font-size: 1.75rem;
  background-color: #FF313E;
}

.schedule-demo h2 {
  font-size: 5.25rem;
}

.whos-on {
  position: relative;
  width: 100%;
  height:49vw;
  overflow: hidden;
}

.whos-on-text {
  display: inline-block;
  width: 25%;
  height: 60%;
  padding-top: 5%;
}

.whos-on-text  h2 {
  font-size: 4.5rem;
}

.whos-on-text  p {
  font-size: 1.2rem;
}

.whos-on-img {
  height: 80%;
  width: auto;
  position: absolute;
  top:10%;
  left:48%;
}
