/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}


@media (max-width: 700px) {
  .navigation {
    display: none;
  }
}

body {
  font-family: 'Source Sans Pro', serif;
}

section {
  overflow: hidden;
}

a {
  text-decoration: none;
  outline: none;
}

h2,
h3 {
  font-weight: 300;
}

a:visited {
  color: white;
}

.reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation a {
  color: rgb(61,61,61);
  display: inline-block;
  width: 100px;
  height: 100px;
}

.navigation > ul > li > a:hover,
.navigation > ul > li > a:focus {
  color: red;
}

.navigation ul ul a:hover,
.navigation ul ul a:focus {
  color: white;
  background: red;
}

.footer-gray {
  background: #1E2024;
}


.footer-nav > li > a{
  color: white;
}

.footer-nav ul a{
  color: rgb(122,122,122);
}

.footer-nav ul a:hover,
.footer-nav ul a:focus{
  color: red;
}

.footer-bottom {
  background: #151515;
}

.footer-bottom p, .footer-bottom a{
  background: #151515;
  color: rgb(99,99,99);
}

.footer-bottom a:hover, .footer-bottom a:focus {
  color: white;
}


.main-section {
  height: 650px;
  background-image: url("../assets/main-bg/home-brain-image-new-1920x816.png"), url("../assets/main-bg/home-featured-bg.png");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  padding-top: 200px;
  font-size: 2rem;
}

.main-section div {
  width:60%;
  height: 300px;
  display: inline-block;
}

.why-comigo {
  height: 500px;
  width: 100%;
  padding-top: 80px;
  font-size: 2rem;
  font-weight: 300;
}

.why-comigo div {
  max-width: 500px;
  width: 70%;
  margin: 0 auto;
}

.round-btn {
  text-transform: uppercase;
  padding: 15px 25px;
  border-radius: 30px;
  transition: all 150ms ease-in-out;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 300;
}

.round-btn:hover, .round-btn:focus {
  box-shadow: 0 12px 32px rgba(0,0,0,.15);
  transform: translateY(-3px);
}

.red-btn {
  background: #FF313E;
  color: white;
}

.white-btn {
  background: white;
  color: red;
}

.white {
  color: white;
}

.normal {
  font-weight: 400;
}

.center-text {
  text-align: center;
}

.services section {
  width: 50%;
  height: 600px;
}

.enhance-tv {
  background-image: url("../assets/other/ic-EI-cloud-brain-hp.png"), url("../assets/other/home-tv-service-bg1.png");
  background-repeat: no-repeat;
  background-position: center 10%, center;
  background-size: 40%, auto;
  float: left;
  /*padding-top: 50%;*/
}

.enhance-tv div {
  margin-top: 40%;
}

.comigo-stb div {
  margin-top: 50%;
  margin-left: 10%;
}

.comigo-stb {
  background-image: url("../assets/other/ic-stb-screens.png"), url("../assets/other/home-tv-service-bg2.png");
  background-repeat: no-repeat;
  background-position: center 10%, center;
  background-size: 40%, auto;
  float: right;
}

.red-background {
  background-color: #FF313E;
}

.social-media {
  width: 200px;
  height: 200px;
  background-color: #EFEFEF;
}

.schedule-meeting {
  width: 800px;
  height:400px;
  background-color: #E8E8E8;
}

.blog {
  height:500px;
  width: 100%;
  color: white;
}
.blog-heading {
  height: 500px;
  width: calc(100%/6);
  float: left;
  background-color: #E0554F;
}

.blog-posts li {
  height: 500px;
  width: calc(100%/6);
  float: left;
}

.blog-posts a {
  height: 100%;
  width: 100%;
  display: inline-block;
}

.blog-posts li:nth-child(1) {
  background-image: url("../assets/blog/ibc_post_EI-750x508.png");
  background-position: center top;
}

.blog-posts li:nth-child(2) {
  background-image: url("../assets/blog/IMG_9294-750x563.jpeg");
  background-position: center top;
}

.blog-posts li:nth-child(3) {
  background-image: url("../assets/blog/Image-Blog-Yoav_356121362-copy-750x563.jpg");
  background-position: center top;
}

.blog-posts li:nth-child(4) {
  background-image: url("../assets/blog/post_tv_connect-750x508.jpeg");
  background-position: center top;
}

.blog-posts li:nth-child(5) {
  background-image: url("../assets/blog/post_quality-750x508.jpeg");
  background-position: center top;
}

.learn-more {
  background-color: #FF313E;
}
